body {
  background-color: #f0f0f0;
}

header {
  background-color: #562b81;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h1,
h2,
label {
  font-family: "Proza Libre", sans-serif;
}

h2,
h4 {
  font-weight: 100;
}

img {
  height: 300px;
  object-fit: cover;
}

input,
textarea {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid rgb(189, 189, 189);
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: #562b81;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

button.cancel {
  background-color: lightgray;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  text-transform: none;
}

button.confirm {
  background-color: orangered;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  text-transform: none;
}

input,
textarea,
button,
img {
  border-radius: 0.25rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid rgb(150, 66, 233);
  box-shadow: 0 0 1px 1px rgba(150, 66, 233, 0.6);
}

i:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.padding-0 {
  padding: 0;
}

.padding-left-0 {
  padding-left: 0;
}

.white-text {
  color: white;
}

.no-margin {
  margin: 0;
}

.padding-1em {
  padding: 1em;
}

.padding-half-em {
  padding: 0.5em;
}

.margin-left-em {
  margin-left: 1em;
}

.full-width {
  width: 100%;
}

.full-flex {
  flex-basis: 100%;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-content {
  justify-content: center;
}

.align-items {
  align-items: center;
}

.bottom-margin {
  margin-bottom: 25px;
}

.top-margin {
  margin-top: 25px;
}

.top-margin-0 {
  margin-top: 0;
}

.space-between {
  justify-content: space-between;
}

.font-size-2-em {
  font-size: 2em;
}

.flex-half {
  flex-basis: 50%;
}

.position-fixed {
  position: fixed;
}

.align-text {
  text-align: center;
}

.delete {
  all: revert;
  border: none;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.modal {
  outline: black;
  background-color: white;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0.75rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
